<template name="home">

  {{> ppHeader}}

  {{#ionView}}
    {{#ionContent}}
		
	<div class="pp-home-container"> 	
		<div class="row pp-home-text">
			<div class="col">
				<h4>Home</h4>
			</div>		
		</div>
		
			<p id="pp-home-info-custom">
				Welcome {{name}}
			</p>

			<p id="pp-home-info-custom">
				Notifications
			</p>
		
		
		<ul class="list">
		{{#each notifications}}
		    <li class="item">
		      {{this}}
		    </li>
		{{/each}}
		</ul>

		<div class="pp-home-icons-container">
			<div class="row pp-icon-row">
				<div class="col pp-icon">
					{{#linkTo route="SellOrRetain" class="pp-icon-link"}}	
					<img src="/images/Sell.png" />
					<br/>
					<span class="text">Sell/Retain Crops</span>  
					{{/linkTo}}				
				</div>			
				<div class="col pp-icon">
	                {{#linkTo route="assetMonitor" class="pp-icon-link"}}
					<img src="/images/asset.png" />
					<br/>
					<span class="text">Asset Monitor</span> 
	                {{/linkTo}}	
				</div>
			</div>  
    	</div>	  
     	<div class="row">
			<div class="col">&nbsp;</div>
		</div>
		
	</div>	
    {{/ionContent}}  
    
    {{> _tabsIn}}
    
  {{/ionView}}
</template>
