<template name="_tabsIn">

    {{#ionTabs style="ios" class="tabs-background-dark tabs-color-light"}}
      {{> ionTab title="Home" path="home" iconOff="home-icon" iconOn="home-icon"}}
      {{> ionTab title="Manage Crops" path="cropsHome" iconOff="crops-icon" iconOn="crops-icon"}}
      {{> ionTab title="Manage Cattle" path="cattleHome" iconOff="cattle-icon" iconOn="cattle-icon"}}
      {{> ionTab title="Logout" path="index" iconOff="logout-icon" iconOn="logout-icon"}}
    {{/ionTabs}}

</template> 
