<template name="ppHeader">
  {{#contentFor "headerTitle"}}
    <img src="/images/logo-iota-header.png?r201510041439" />
  {{/contentFor}}
</template>


<template name="index">

  {{> ppHeader}}

  {{#ionView}}
    {{#ionContent}}
	<div class="pp-home-icons-container">
		<div class="row pp-icon-row">
			<div class="col pp-icon">
				{{#linkTo route="registration" class="pp-icon-link"}}	
				<img src="/images/icon-pay.png? r201509262221" />
				<br/>
				<span class="text">Register</span>  
				{{/linkTo}}				
			</div>			
			<div class="col pp-icon">
                {{#linkTo route="login" class="pp-icon-link"}}
				<img src="/images/icon-login.png?r201509262221" />
				<br/>
				<span class="text">Sign In</span> 
                {{/linkTo}}	
			</div>
		</div>  
		<!-- <div class="row pp-icon-row">
			<div class="col pp-icon">
				{{#linkTo route="farmerSearch" class="pp-icon-link"}}	
				<img src="/images/icon-assist.png?r201510032221" />
				<br/>
				<span class="text">Farmers Search</span>  
				{{/linkTo}} 				
			</div>			
			<div class="col pp-icon">
                &nbsp;
			</div>
		</div>     -->    
    </div>
    {{/ionContent}}
    
  {{/ionView}}
</template>